body {
  padding: 0;
  background-color: #F5F5F5;
}

.modal-content {
  width: 260px;
  height: auto;
}
.lang-selector{
  margin-top: 10px;
  width: 100px;
}
.fne-menu{
  padding-left: 15px;
  margin-top: -20px;
}
.fne-dropdown{
  padding: 10px;
}
.file-name{
  padding: 15px;
  font-size: 18px;
  font-family: monospace;
}
.btn-actions{
  margin-top: 14px;
}
.btn-default{
  border: 2px solid #a1a1a1;
  border-radius: 2px;
}
.fne-btn{
  text-transform: uppercase;
}
.fa-times-circle{
  cursor: pointer;
  opacity: 0.8;
  padding-top: 8px;
  margin-right: 5px;
  display: none;
}
.fa-times-circle:hover {
  color: darkred;
}
.fne-list-container{
  background-color: #FFFFFF;
  border-radius: 6px;
}
ul
{
  list-style-type: none;
}
.fne-remove{
  padding-top: 5px;
}
.fne-workspace{
  display: inline-flex;
}
.fne-name{
  padding: 5px 10px 5px 15px;
  cursor: pointer;
  margin-left: -30px;
  color: #2C4A67;
}

.fne-container{
  display: inline-flex;
  justify-content: space-between;
  min-width: 174px;
  margin-left: -40px;
  padding-left: 33px;
}
.fne-container:hover {
  background-color: #EDF1F7;
  border-radius: 6px;
}
.fne-container:hover .fa-times-circle {
  display: inline;

}

.nfe-modal{
  width:200px;
}
.fne-modal-input{
  display: inline-flex;
}
.checked_item{
  background-color: #0d3349;
  color: whitesmoke;
  margin-left: -39px;
  padding-left: 16px;
}
#fne-modal-btn {
  padding: 1px 20px 1px 20px;
  margin-top: 10px;
}
#fne-modal-text-field{
  margin-right: 5px;
  border-radius: 3px;
}
#fne-modal-title{
  text-transform: uppercase;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.ace_editor{
  border: 1px solid #2C3E50;
  margin-left: 34px;
  top: -19px;
  height: 600px;
  overflow: scroll;
  padding-left: 1000px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
