body {
  padding: 0;
}

.modal-content {
  width: 256px;
  margin: 1px 0 0 -65px;
}
.fne-menu{
  padding-left: 15px;
  margin-top: -20px;
}
.fne-dropdown{
  padding: 10px;
}
.file-name{
  padding: 15px;
  font-size: 18px;
  font-family: monospace;
}
.btn-actions{
  margin-top: 14px;
}
.btn-default{
  border: 2px solid #a1a1a1;
  border-radius: 2px;
}
.fne-btn{
  text-transform: uppercase;
}
.fne-list-container{
  width: 191px;
  background-color: lightgray;
  border-radius: 6px;
  padding: 10px;
  margin-top: -21px;
  opacity: 0.8;
}
ul
{
  list-style-type: none;
}

.fne-name{
  padding: 5px 10px 5px 15px;
  cursor: pointer;
  margin-left: -30px;
}

.fne-name:hover {
  background-color: #8a8f94;
  border-radius: 6px;
}

.nfe-modal{
  width:200px;
}
.fne-modal-input{
  display: inline-flex;
  height: 32px;
}

#fne-modal-btn {
  padding: 5px;
}
#fne-modal-text-field{
  margin-right: 5px;
  border-radius: 3px;
}
#fne-modal-title{
  text-transform: uppercase;
}
.ace_editor { height: 200px; }

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
