<settings-component></settings-component>

<div class="fne-menu">
<div>
    <label class="file-name">{{funcName}}</label>
    <!--<button class="btn-default" ng-click="newFunction()"> <div class="fne-btn"> <i class="fa fa-plus" aria-hidden="true"></i></div></button>-->
    <!--<button class="btn-default" ng-disabled="!hasName" ng-click="deployFunction(funcObj)"> <div class="fne-btn"> <i class="fa fa-play" aria-hidden="true"></i></div></button>-->
    <!--<button class="btn-default" ng-click="clearEditor()"> <div class="fne-btn"> <i class="fa fa-trash-o" aria-hidden="true"></i></div></button>-->
</div>
<div class="fne-dropdown">
    <div class="fne-list-container">
        <ul>
            <li ng-repeat="func in functions" ng-click="selectFunction(func)">
                <div class="fne-name"> {{func.name}} </div>
            </li>
        </ul>

    </div>
</div>
</div>

</div>

<div class="container" id="functionalEditor">
</div>
