<settings-component></settings-component>

<div class="fne-workspace">
  <div class="fne-menu">
    <div class="fne-list-container">
        <ul>
            <li ng-repeat="func in functions" ng-click="selectFunction(func)">
             <div class="checked_item" ng-if="funcName === func.name">
                 {{func.name}}
             </div>
             <div class="fne-container" ng-if="funcName !== func.name">
                <div class="fne-name"> {{func.name}} </div>
                <span class="fne-remove" >
                      <i class="fa fa-times-circle" ng-click="deleteFunction(func)" aria-hidden="true" title="remove function"></i>
                </span>
             </div>
            </li>
        </ul>
    </div>
</div>
  <div class="container" id="functionalEditor"></div>
</div>